.env
*.img
*.img.xz
*.tar
*.tar.gz
*.tgz
*.deb
*.rpm
*.log

legacy/compose/gitlab.rb
legacy/gitlab.rb

.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~

backups/
*.backup

legacy/CF_TUNNEL_SETTINGS.md

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/*.tfplan

pi-forge/generated
pi-forge/srv/
pi-forge/tmp/
pi-forge/*.tar.gz
pi-forge/config-registry/env/secrets.env
pi-forge/config-registry/env/secrets.env.vault
pi-forge/.vault_pass
pi-forge/terraform.tfstate*
