.env
*.img
*.img.xz
*.tar
*.tar.gz
*.tgz
*.deb
*.rpm
*.log

compose/gitlab.rb
gitlab.rb

.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~

backups/
*.backup

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/*.tfplan
