services:
  woodpecker:
    image: {{ WOODPECKER_SERVER_IMAGE }}
    container_name: woodpecker
    restart: unless-stopped
    environment:
      WOODPECKER_OPEN: "true"
      WOODPECKER_HOST: {{ WOODPECKER_HOST }}
      WOODPECKER_SERVER_ADDR: ":8000"
      WOODPECKER_METRICS_SERVER_ADDR: ":{{ PORT_WOODPECKER_METRICS }}"
      WOODPECKER_ADMIN: {{ WOODPECKER_ADMIN_USERS }}
      WOODPECKER_LOG_LEVEL: {{ WOODPECKER_LOG_LEVEL }}
      WOODPECKER_AGENT_SECRET: {{ WOODPECKER_AGENT_SECRET }}
      WOODPECKER_GITEA: "true"
      WOODPECKER_GITEA_URL: {{ FORGEJO_EXTERNAL_URL }}
      WOODPECKER_GITEA_CLIENT: {{ WOODPECKER_FORGEJO_CLIENT_ID }}
      WOODPECKER_GITEA_SECRET: {{ WOODPECKER_FORGEJO_CLIENT_SECRET }}
      WOODPECKER_DATABASE_DRIVER: postgres
      WOODPECKER_DATABASE_DATASOURCE: postgres://{{ POSTGRES_USER_WOODPECKER }}:{{ POSTGRES_PASSWORD_WOODPECKER }}@forgejo-postgres:5432/{{ POSTGRES_DB_WOODPECKER }}?sslmode=disable
    ports:
      - "{{ PORT_WOODPECKER_HTTP }}:8000"
      - "{{ PORT_WOODPECKER_METRICS }}:{{ PORT_WOODPECKER_METRICS }}"
      - "{{ PORT_WOODPECKER_GRPC }}:9000"
    volumes:
      - /srv/woodpecker/server:/var/lib/woodpecker
    networks:
      forgejo-network:
        aliases:
          - woodpecker
    dns:
      - {{ PIHOLE_LOCAL_IPV4 if PIHOLE_LOCAL_IPV4 else '1.1.1.1' }}

networks:
  forgejo-network:
    external: true
    name: forgejo-network

