services:
  pihole:
    image: {{ PIHOLE_IMAGE }}
    container_name: adblocker-pihole
    restart: always
    ports:
      - "{{ PORT_ADBLOCKER_DNS }}:53/tcp"
      - "{{ PORT_ADBLOCKER_DNS }}:53/udp"
      - "{{ PORT_ADBLOCKER_WEB }}:80/tcp"
    environment:
      TZ: {{ TIMEZONE if TIMEZONE else 'UTC' }}
      WEBPASSWORD: {{ PIHOLE_WEB_PASSWORD }}
      DNS1: "127.0.0.1#{{ PORT_ADBLOCKER_UNBOUND }}"
      DNS2: "1.1.1.1"
      DNSSEC: "true"
      DNS_BOGUS_PRIV: "true"
      DNS_FQDN_REQUIRED: "false"
      INTERFACE: eth0
      VIRTUAL_HOST: {{ 'pihole.' ~ DOMAIN if DOMAIN else 'pihole.local' }}
      VIRTUAL_PORT: "80"
      PIHOLE_DNS_: "127.0.0.1#{{ PORT_ADBLOCKER_UNBOUND }};1.1.1.1;1.0.0.1"
      PIHOLE_DOMAIN: {{ DOMAIN if DOMAIN else 'local' }}
      FTLCONF_LOCAL_IPV4: {{ PIHOLE_LOCAL_IPV4 if PIHOLE_LOCAL_IPV4 else '192.168.1.100' }}
    volumes:
      - /srv/adblocker/pihole:/etc/pihole
      - /srv/adblocker/dnsmasq.d:/etc/dnsmasq.d
    cap_add:
      - NET_ADMIN
    networks:
      - adblocker-network
    depends_on:
      - unbound

  unbound:
    image: {{ UNBOUND_IMAGE }}
    container_name: adblocker-unbound
    restart: always
    ports:
      - "{{ PORT_ADBLOCKER_UNBOUND }}:53/tcp"
      - "{{ PORT_ADBLOCKER_UNBOUND }}:53/udp"
    volumes:
      - ./unbound.conf:/etc/unbound/unbound.conf:ro
    command: ["unbound", "-d", "-v"]
    networks:
      - adblocker-network

  pihole-exporter:
    image: ekofr/pihole-exporter:v0.2.1
    container_name: adblocker-pihole-exporter
    restart: unless-stopped
    environment:
      PIHOLE_HOSTNAME: adblocker-pihole
      PIHOLE_PORT: "80"
      PIHOLE_API_TOKEN: {{ PIHOLE_API_TOKEN if PIHOLE_API_TOKEN else '' }}
      PORT: "9617"
    ports:
      - "{{ PORT_ADBLOCKER_EXPORTER }}:9617"
    networks:
      - adblocker-network
      - monitoring-network
    depends_on:
      - pihole

networks:
  adblocker-network:
    driver: bridge
  monitoring-network:
    external: true
    name: monitoring_monitoring-network
