services:
  forgejo-postgres:
    image: {{ POSTGRES_IMAGE }}
    container_name: forgejo-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: {{ POSTGRES_SUPERUSER }}
      POSTGRES_PASSWORD: {{ POSTGRES_SUPERUSER_PASSWORD }}
      POSTGRES_DB: {{ POSTGRES_DB_FORGEJO }}
    ports:
      - "{{ PORT_POSTGRES_POSTGRES }}:5432"
    volumes:
      - /srv/postgres/data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
{% if POSTGRES_PGPASS_FILE %}
      - {{ POSTGRES_PGPASS_FILE }}:/var/lib/postgresql/.pgpass:ro
{% endif %}
    networks:
      - postgres-network
      - forgejo-network

networks:
  postgres-network:
    driver: bridge
  forgejo-network:
    external: true
    name: forgejo-network

