DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_roles WHERE rolname = '{{ POSTGRES_USER_FORGEJO }}'
  ) THEN
    CREATE ROLE {{ POSTGRES_USER_FORGEJO }} LOGIN PASSWORD '{{ POSTGRES_PASSWORD_FORGEJO }}';
  END IF;
END
$$;

DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_database WHERE datname = '{{ POSTGRES_DB_FORGEJO }}'
  ) THEN
    CREATE DATABASE {{ POSTGRES_DB_FORGEJO }}
      OWNER {{ POSTGRES_USER_FORGEJO }}
      TEMPLATE template0
      ENCODING 'UTF8';
  END IF;
END
$$;

GRANT ALL PRIVILEGES ON DATABASE {{ POSTGRES_DB_FORGEJO }} TO {{ POSTGRES_USER_FORGEJO }};

DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_roles WHERE rolname = '{{ POSTGRES_USER_WOODPECKER }}'
  ) THEN
    CREATE ROLE {{ POSTGRES_USER_WOODPECKER }} LOGIN PASSWORD '{{ POSTGRES_PASSWORD_WOODPECKER }}';
  END IF;
END
$$;

DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_database WHERE datname = '{{ POSTGRES_DB_WOODPECKER }}'
  ) THEN
    CREATE DATABASE {{ POSTGRES_DB_WOODPECKER }}
      OWNER {{ POSTGRES_USER_WOODPECKER }}
      TEMPLATE template0
      ENCODING 'UTF8';
  END IF;
END
$$;

GRANT ALL PRIVILEGES ON DATABASE {{ POSTGRES_DB_WOODPECKER }} TO {{ POSTGRES_USER_WOODPECKER }};

