services:
  forgejo-actions-runner:
    image: {{ FORGEJO_ACTIONS_RUNNER_IMAGE }}
    container_name: forgejo-actions-runner
    restart: unless-stopped
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        if [ ! -f /data/.runner ]; then
          echo "Registering runner..."
          FORGEJO_RUNNER_HOST="{{ FORGEJO_EXTERNAL_URL }}" \
          FORGEJO_RUNNER_TOKEN="{{ FORGEJO_ACTIONS_RUNNER_TOKEN }}" \
          /bin/forgejo-runner register \
            --no-interactive \
            --name "forgejo-actions-runner" \
            --labels "docker:docker://,self-hosted:host://"
        fi
        echo "Starting runner daemon..."
        exec /bin/forgejo-runner daemon
    environment:
      FORGEJO_RUNNER_HOST: {{ FORGEJO_EXTERNAL_URL }}
      FORGEJO_RUNNER_TOKEN: {{ FORGEJO_ACTIONS_RUNNER_TOKEN }}
    working_dir: /data
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/forgejo-actions-runner:/data
    networks:
      forgejo-network:
        aliases:
          - forgejo-actions-runner

networks:
  forgejo-network:
    external: true
    name: forgejo-network

