services:
  forgejo-actions-runner:
    image: {{ FORGEJO_ACTIONS_RUNNER_IMAGE }}
    container_name: forgejo-actions-runner
    restart: unless-stopped
    environment:
      GITEA_RUNNER_HOST: {{ FORGEJO_EXTERNAL_URL }}
      GITEA_RUNNER_TOKEN: {{ FORGEJO_ACTIONS_RUNNER_TOKEN }}
      GITEA_RUNNER_LABELS: docker:docker://,self-hosted:host://
      GITEA_RUNNER_NAME: forgejo-actions-runner
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/forgejo-actions-runner:/data
    networks:
      forgejo-network:
        aliases:
          - forgejo-actions-runner

networks:
  forgejo-network:
    external: true
    name: forgejo-network

